{% extends "base.html.twig" %}

{% block content%}

<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">New ticket</h1>
                                </div>
                                {% if errmessage is defined %}
                                    <p class="error_message" >{{errmessage}}</p>
                                {% endif %}

                                {% if valmessage is defined %}
                                    <p class="validate_message" >{{valmessage}}</p>
                                {% endif %}

                                <form method="POST" action="{{ path }}/?controller=Ticket&action=newTicket">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-ticket" name="ticket-title"  placeholder="Nom du ticket...">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-ticket" name="ticket-content" placeholder="Tâche à faire...">
                                    </div>
                                    <input type="submit" value="Ajouter le ticket" class="btn btn-primary btn-user btn-block"/>
                                </form>
                                <hr>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>



</body>
{% endblock %}